{% case product.id %}
  {% when 8000553124139 %}
    {% assign featured_image = 'dexcom-g6.png' %}
    {% assign title = 'Dexcom G6' %}
    {% comment %} Dexcom G6 Adhesive Patches - 10 Pack {% endcomment %}

  {% when 8000645726507 %}
    {% assign featured_image = 'dexcom-g7.png' %}
    {% assign title = 'Dexcom G7' %}
    {% comment %} Dexcom G7 Adhesive Patches - 10 Pack {% endcomment %}
  {% when 8000657522987 %}
    {% assign featured_image = 'freestyle-libre.png' %}
    {% assign title = 'FreeStyle Libre ' %}
    {% comment %} FreeStyle Libre Sensor Covers - 10 pack  {% endcomment %}
  {% when 8000667484459 %}
    {% assign featured_image = 'medtronic.png' %}
    {% assign title = 'Medtronic Guardian' %}
    {% comment %} Medtronic Guardian Sensor Tape Covers - 10 Pack {% endcomment %}
  {% when 8000695927083 %}
    {% assign featured_image = 'omnipod.png' %}
    {% assign title = 'Omnipod' %}
    {% comment %} Omnipod Pump Adhesive Patches - 10 pack {% endcomment %}

  {% else %}
    {% assign featured_image = product.featured_image %}
    {% assign title = product.title %}
    {% assign old_thumb = true %}
{% endcase %}

<div class=" group relative h-full overflow-hidden  rounded-xl p-2 transition-shadow duration-200 hover:bg-white hover:shadow-lg">
  <a href="{{ product.url }}" class="absolute inset-0 z-20 h-full w-full">&nbsp;</a>
  <div class="relative flex w-full items-center justify-center rounded-lg px-2 py-3 lg:h-[200px] ">
    {% if featured_image %}
      {% if old_thumb %}
        <img
          class="h-full w-full object-cover"
          width="{{ product.featured_image.width }}"
          height="{{ product.featured_image.height }}"
          src="{{ product.featured_image.src | img_url: 'large' }}"
          alt="{{ product.featured_image.alt | escape }}"
        >
      {% else %}
        <img
          width="{{ product.featured_image.width }}"
          height="{{ product.featured_image.height }}"
          src="{{ featured_image | file_img_url: "large" }}"
          alt="{{ product.featured_image.alt | escape }}"
        >
      {% endif %}
    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
    {% endif %}
  </div>
  <div class="p-3">
    <h3 class=" text-center text-xl  font-semibold text-pp-heading">
      {{ title }}
    </h3>
  </div>
</div>
