<div class=" group relative overflow-hidden rounded-xl border-4 border-pp-grey-3 bg-white p-2 ">
  <a href="{{ product.url  }}" class="absolute inset-0 z-20 h-full w-full"
    >&nbsp;</a
  >
  <div class="relative rounded-lg bg-pp-grey-1 py-3">
    {% if product.featured_image %}
      <img
        width="{{ product.featured_image.width }}"
        height="{{ product.featured_image.height }}"
        src="{{ product.featured_image.src | img_url: 'large' }}"
        alt="{{ product.featured_image.alt | escape }}"
      >

    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
    {% endif %}

    <div
      class="absolute inset-0 flex h-full w-full items-center justify-center "
    >
      {% if product.price < product.compare_at_price %}
        <div class="absolute left-3 top-3">
          <div class="h-full w-full bg-pp-green px-2 py-1 text-sm font-semibold text-white">
            Sale
          </div>
        </div>
      {% endif %}
      {% comment %} <span
        class="btn btn-sm flex items-center border-bp-teal-dark bg-pp-green text-white hidden"
        >View Options &nbsp;&nbsp;
        <svg
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M6.83008 4.7168L10.8301 8.7168L6.83008 12.7168" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
        </svg>
      </span> {% endcomment %}
    </div>
  </div>
  <div class="p-3">
    <h3 class=" text-xl font-semibold  text-pp-heading text-center">
      {{ product.title }}
    </h3>

    {% comment %} <p>{{ product.description | strip_html }}</p> {% endcomment %}
    {% comment %}
      <a href="{{ product.url }}" class="md:bp-hidden group flex items-center py-3">
        <p class=" m-0 font-semibold text-bp-heading">View options</p>
        <div class="px-1">
          <svg
            class="transition-transform duration-200 group-hover:translate-x-0.5"
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 4.5L10 8.5L6 12.5" stroke="#F07961" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
          </svg>
        </div>
      </a>
    {% endcomment %}
  </div>
</div>
