{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link
  rel="stylesheet"
  href="{{ 'component-newsletter.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link
  rel="stylesheet"
  href="{{ 'component-list-menu.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link
  rel="stylesheet"
  href="{{ 'component-list-payment.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link
  rel="stylesheet"
  href="{{ 'component-list-social.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link
  rel="stylesheet"
  href="{{ 'component-rte.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link
  rel="stylesheet"
  href="{{ 'disclosure.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} bg-pp-indigo section-{{ section.id }}-padding">
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
  -%}
    <div class="footer__content-top page-width">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid--1-col grid--2-col grid--4-col-tablet grid {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div
              class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.heading != blank -%}
                <p class="mb-4 text-xl font-semibold text-white">
                  {{- block.settings.heading | escape -}}
                </p>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte text-white">
                    {{ block.settings.subtext }}
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <ul class="">
                      {%- for link in block.settings.menu.links -%}
                        <li class="mb-3">
                          <a href="{{ link.url }}" class="text-white hover:underline ">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    <svg
                      width="230"
                      height="60"
                      viewBox="0 0 230 60"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M127.205 27.2962C127.077 27.5322 126.878 27.6502 126.61 27.6502C126.449 27.6502 126.267 27.5912 126.063 27.4732C125.859 27.3552 125.607 27.2265 125.307 27.087C125.017 26.9368 124.668 26.8027 124.261 26.6847C123.853 26.556 123.37 26.4917 122.813 26.4917C122.33 26.4917 121.895 26.556 121.509 26.6847C121.123 26.8027 120.79 26.969 120.512 27.1836C120.243 27.3981 120.034 27.6502 119.884 27.9398C119.745 28.2187 119.675 28.5245 119.675 28.857C119.675 29.2754 119.793 29.624 120.029 29.9029C120.276 30.1818 120.597 30.4232 120.994 30.627C121.391 30.8308 121.842 31.0132 122.346 31.1741C122.85 31.3243 123.365 31.4906 123.891 31.6729C124.427 31.8446 124.947 32.0377 125.451 32.2522C125.956 32.4667 126.406 32.7349 126.803 33.0567C127.2 33.3786 127.516 33.7755 127.752 34.2475C127.999 34.7087 128.123 35.2666 128.123 35.9209C128.123 36.6718 127.988 37.3691 127.72 38.0127C127.452 38.6457 127.055 39.1981 126.53 39.6701C126.004 40.1314 125.36 40.4961 124.599 40.7643C123.837 41.0325 122.957 41.1666 121.96 41.1666C120.823 41.1666 119.793 40.9842 118.87 40.6195C117.948 40.244 117.165 39.7667 116.521 39.1874L117.197 38.0932C117.283 37.9537 117.385 37.8465 117.503 37.7714C117.621 37.6963 117.771 37.6587 117.953 37.6587C118.146 37.6587 118.35 37.7338 118.565 37.884C118.779 38.0342 119.037 38.2005 119.337 38.3828C119.648 38.5652 120.023 38.7315 120.463 38.8817C120.903 39.0318 121.45 39.1069 122.105 39.1069C122.662 39.1069 123.15 39.0372 123.569 38.8977C123.987 38.7476 124.336 38.5491 124.615 38.3024C124.894 38.0557 125.097 37.7714 125.226 37.4496C125.366 37.1277 125.435 36.7845 125.435 36.4197C125.435 35.9692 125.312 35.5991 125.065 35.3095C124.829 35.0091 124.513 34.757 124.116 34.5532C123.719 34.3387 123.263 34.1563 122.748 34.0061C122.244 33.8452 121.724 33.6789 121.187 33.5073C120.662 33.3357 120.141 33.1426 119.627 32.928C119.122 32.7027 118.672 32.4238 118.275 32.0913C117.878 31.7587 117.556 31.3511 117.309 30.8684C117.073 30.3749 116.955 29.7796 116.955 29.0823C116.955 28.4601 117.084 27.8647 117.342 27.2962C117.599 26.7169 117.975 26.2127 118.468 25.7837C118.961 25.3438 119.568 24.9952 120.286 24.7377C121.005 24.4803 121.826 24.3516 122.748 24.3516C123.821 24.3516 124.781 24.5232 125.628 24.8665C126.487 25.199 127.227 25.6603 127.849 26.2503L127.205 27.2962Z" fill="white"/>
                      <path d="M113.492 24.6089V40.909H111.786C111.379 40.909 111.121 40.7105 111.014 40.3136L110.789 38.5597C110.081 39.3428 109.287 39.9757 108.407 40.4584C107.528 40.9304 106.519 41.1664 105.382 41.1664C104.492 41.1664 103.703 41.0216 103.017 40.732C102.341 40.4316 101.772 40.0133 101.311 39.4769C100.85 38.9405 100.501 38.2915 100.265 37.5299C100.04 36.7683 99.9272 35.9262 99.9272 35.0036V24.6089H102.791V35.0036C102.791 36.2373 103.07 37.192 103.628 37.8678C104.197 38.5436 105.06 38.8815 106.219 38.8815C107.066 38.8815 107.855 38.6831 108.584 38.2862C109.324 37.8785 110.006 37.3207 110.628 36.6127V24.6089H113.492Z" fill="white"/>
                      <path d="M95.7656 17.207V40.9089H92.9014V17.207H95.7656Z" fill="white"/>
                      <path d="M77.9672 36.9829C78.4928 37.6909 79.0667 38.1897 79.6889 38.4793C80.3111 38.769 81.0084 38.9138 81.7807 38.9138C83.304 38.9138 84.4733 38.3721 85.2886 37.2886C86.1038 36.2052 86.5115 34.6604 86.5115 32.6544C86.5115 31.5924 86.4149 30.6806 86.2218 29.919C86.0395 29.1573 85.7713 28.5352 85.4173 28.0524C85.0633 27.559 84.6288 27.1996 84.1139 26.9743C83.599 26.7491 83.0144 26.6364 82.36 26.6364C81.4267 26.6364 80.6061 26.851 79.8981 27.2801C79.2008 27.7092 78.5572 28.3152 77.9672 29.0983V36.9829ZM77.8224 27.1352C78.5089 26.2878 79.3027 25.6066 80.2038 25.0917C81.1049 24.5768 82.1347 24.3193 83.2933 24.3193C84.2373 24.3193 85.0901 24.5017 85.8517 24.8664C86.6134 25.2204 87.2624 25.7514 87.7987 26.4594C88.3351 27.1567 88.7481 28.0256 89.0377 29.0662C89.3274 30.1067 89.4722 31.3028 89.4722 32.6544C89.4722 33.8559 89.3113 34.9769 88.9895 36.0174C88.6676 37.0472 88.201 37.943 87.5896 38.7046C86.9888 39.4555 86.2486 40.0509 85.369 40.4907C84.5001 40.9198 83.5186 41.1343 82.4244 41.1343C81.4267 41.1343 80.5686 40.9681 79.8498 40.6355C79.1418 40.2922 78.5143 39.8202 77.9672 39.2195V46.4282H75.0869V24.609H76.8086C77.2163 24.609 77.4684 24.8074 77.5649 25.2043L77.8224 27.1352Z" fill="white"/>
                      <path d="M228.7 26.8777C228.615 27.0279 228.491 27.103 228.33 27.103C228.212 27.103 228.062 27.0387 227.88 26.9099C227.697 26.7705 227.451 26.6203 227.14 26.4594C226.839 26.2877 226.464 26.1376 226.013 26.0088C225.563 25.8694 225.016 25.7997 224.372 25.7997C223.793 25.7997 223.262 25.8855 222.779 26.0571C222.307 26.218 221.899 26.4379 221.556 26.7168C221.224 26.9957 220.966 27.3229 220.784 27.6984C220.601 28.0631 220.51 28.4493 220.51 28.8569C220.51 29.3611 220.639 29.7795 220.896 30.112C221.154 30.4446 221.486 30.7288 221.894 30.9648C222.312 31.2008 222.79 31.4047 223.326 31.5763C223.862 31.7479 224.404 31.9196 224.951 32.0912C225.509 32.2628 226.056 32.4559 226.593 32.6705C227.129 32.8743 227.601 33.1318 228.009 33.4428C228.427 33.7539 228.765 34.1347 229.022 34.5853C229.28 35.0358 229.408 35.5829 229.408 36.2266C229.408 36.9238 229.285 37.5728 229.038 38.1736C228.792 38.7743 228.427 39.2946 227.944 39.7344C227.472 40.1742 226.888 40.5228 226.19 40.7803C225.493 41.0378 224.694 41.1665 223.793 41.1665C222.666 41.1665 221.696 40.9895 220.88 40.6355C220.065 40.2708 219.336 39.7988 218.692 39.2195L219.046 38.6724C219.1 38.5866 219.159 38.5222 219.223 38.4793C219.298 38.4364 219.395 38.4149 219.513 38.4149C219.652 38.4149 219.818 38.5007 220.011 38.6724C220.215 38.844 220.483 39.0318 220.816 39.2356C221.148 39.4287 221.556 39.611 222.039 39.7827C222.532 39.9543 223.138 40.0401 223.857 40.0401C224.533 40.0401 225.128 39.9489 225.643 39.7666C226.158 39.5735 226.587 39.316 226.93 38.9942C227.274 38.6724 227.531 38.2969 227.703 37.8678C227.885 37.428 227.976 36.9668 227.976 36.484C227.976 35.9477 227.848 35.5025 227.59 35.1485C227.333 34.7945 226.995 34.4941 226.576 34.2474C226.158 34.0007 225.681 33.7915 225.144 33.6198C224.619 33.4482 224.077 33.2766 223.519 33.1049C222.961 32.9333 222.414 32.7456 221.878 32.5418C221.352 32.3379 220.88 32.0805 220.462 31.7694C220.044 31.4583 219.706 31.0828 219.448 30.643C219.191 30.1925 219.062 29.6347 219.062 28.9696C219.062 28.401 219.185 27.8539 219.432 27.3283C219.679 26.8027 220.027 26.3414 220.478 25.9445C220.939 25.5476 221.497 25.2311 222.151 24.9951C222.806 24.7591 223.541 24.6411 224.356 24.6411C225.332 24.6411 226.196 24.7806 226.947 25.0595C227.708 25.3384 228.4 25.7675 229.022 26.3468L228.7 26.8777Z" fill="white"/>
                      <path d="M215.313 31.2867C215.313 30.4285 215.19 29.6615 214.943 28.9857C214.707 28.2991 214.369 27.7198 213.929 27.2478C213.489 26.7758 212.964 26.4165 212.352 26.1697C211.752 25.9123 211.087 25.7836 210.357 25.7836C209.531 25.7836 208.791 25.9123 208.137 26.1697C207.482 26.4272 206.914 26.7973 206.431 27.28C205.959 27.7627 205.578 28.342 205.288 29.0178C204.999 29.6937 204.806 30.4499 204.709 31.2867H215.313ZM204.629 32.2682V32.5739C204.629 33.7754 204.768 34.832 205.047 35.7438C205.326 36.6557 205.723 37.4227 206.238 38.0448C206.753 38.6563 207.375 39.1176 208.104 39.4287C208.834 39.7398 209.649 39.8953 210.55 39.8953C211.355 39.8953 212.052 39.8095 212.642 39.6378C213.232 39.4555 213.725 39.257 214.122 39.0425C214.53 38.8172 214.852 38.6188 215.088 38.4471C215.324 38.2648 215.495 38.1736 215.603 38.1736C215.742 38.1736 215.849 38.2272 215.925 38.3345L216.343 38.8494C216.085 39.1712 215.742 39.4716 215.313 39.7505C214.895 40.0294 214.423 40.2708 213.897 40.4746C213.382 40.6677 212.824 40.8232 212.224 40.9412C211.634 41.0592 211.038 41.1182 210.438 41.1182C209.343 41.1182 208.346 40.9305 207.445 40.555C206.544 40.1688 205.771 39.611 205.128 38.8816C204.484 38.1521 203.985 37.2617 203.631 36.2105C203.288 35.1485 203.116 33.9363 203.116 32.5739C203.116 31.4261 203.277 30.3695 203.599 29.404C203.931 28.4278 204.403 27.5911 205.015 26.8938C205.637 26.1858 206.393 25.6334 207.284 25.2365C208.185 24.8396 209.204 24.6411 210.341 24.6411C211.242 24.6411 212.079 24.7967 212.851 25.1077C213.624 25.4188 214.294 25.8747 214.863 26.4755C215.431 27.0655 215.876 27.7949 216.198 28.6638C216.531 29.5328 216.697 30.5304 216.697 31.6567C216.697 31.8927 216.665 32.0537 216.6 32.1395C216.536 32.2253 216.429 32.2682 216.279 32.2682H204.629Z" fill="white"/>
                      <path d="M188.898 27.6019C189.638 26.7008 190.481 25.9821 191.425 25.4457C192.379 24.9094 193.447 24.6412 194.627 24.6412C195.506 24.6412 196.279 24.7806 196.944 25.0596C197.62 25.3385 198.177 25.7407 198.617 26.2664C199.057 26.792 199.39 27.4249 199.615 28.1651C199.84 28.9053 199.953 29.742 199.953 30.6753V40.9091H198.408V30.6753C198.408 29.1735 198.065 27.9988 197.378 27.1514C196.692 26.2932 195.646 25.8641 194.24 25.8641C193.2 25.8641 192.224 26.1323 191.312 26.6686C190.411 27.1943 189.606 27.9291 188.898 28.8731V40.9091H187.354V17.4968H188.898V27.6019Z" fill="white"/>
                      <path d="M183.904 27.0387C183.85 27.0923 183.797 27.1406 183.743 27.1835C183.7 27.2157 183.636 27.2317 183.55 27.2317C183.443 27.2317 183.298 27.162 183.116 27.0226C182.933 26.8724 182.687 26.7115 182.375 26.5398C182.064 26.3682 181.673 26.2127 181.201 26.0732C180.74 25.923 180.176 25.8479 179.511 25.8479C178.589 25.8479 177.768 26.0142 177.049 26.3468C176.341 26.6686 175.741 27.1352 175.247 27.7467C174.754 28.3581 174.378 29.0983 174.121 29.9672C173.874 30.8361 173.751 31.8123 173.751 32.8957C173.751 34.0221 173.879 35.0198 174.137 35.8887C174.405 36.7576 174.781 37.4924 175.263 38.0931C175.746 38.6831 176.331 39.1337 177.017 39.4447C177.704 39.7558 178.465 39.9114 179.302 39.9114C180.074 39.9114 180.718 39.8202 181.233 39.6378C181.759 39.4555 182.188 39.257 182.52 39.0425C182.864 38.8279 183.132 38.6295 183.325 38.4471C183.518 38.2648 183.679 38.1736 183.808 38.1736C183.936 38.1736 184.044 38.2272 184.129 38.3345L184.532 38.8494C184.285 39.1712 183.974 39.4716 183.598 39.7505C183.223 40.0294 182.799 40.2708 182.327 40.4746C181.855 40.6784 181.34 40.8339 180.782 40.9412C180.235 41.0592 179.661 41.1182 179.061 41.1182C178.042 41.1182 177.108 40.9358 176.261 40.5711C175.424 40.1957 174.7 39.6593 174.089 38.962C173.488 38.254 173.016 37.3905 172.673 36.3714C172.34 35.3523 172.174 34.1937 172.174 32.8957C172.174 31.6728 172.335 30.5572 172.657 29.5488C172.978 28.5405 173.45 27.6716 174.073 26.9421C174.695 26.2127 175.451 25.6495 176.341 25.2526C177.242 24.8449 178.272 24.6411 179.431 24.6411C180.471 24.6411 181.394 24.8074 182.198 25.1399C183.003 25.4725 183.706 25.923 184.306 26.4916L183.904 27.0387Z" fill="white"/>
                      <path d="M167.513 41.1666C166.43 41.1666 165.583 40.8662 164.971 40.2655C164.37 39.6648 164.07 38.7369 164.07 37.4818V26.54H161.769C161.651 26.54 161.554 26.5078 161.479 26.4434C161.404 26.3791 161.367 26.2879 161.367 26.1699V25.5745L164.102 25.3814L164.488 19.653C164.51 19.5565 164.553 19.4707 164.617 19.3956C164.681 19.3205 164.773 19.283 164.891 19.283H165.615V25.3975H170.667V26.54H165.615V37.4013C165.615 37.8411 165.668 38.222 165.776 38.5438C165.894 38.8549 166.049 39.1123 166.242 39.3161C166.446 39.52 166.682 39.6701 166.95 39.7667C167.218 39.8632 167.508 39.9115 167.819 39.9115C168.205 39.9115 168.538 39.8579 168.817 39.7506C169.096 39.6326 169.337 39.5092 169.541 39.3805C169.745 39.2411 169.911 39.1177 170.04 39.0104C170.168 38.8924 170.27 38.8334 170.345 38.8334C170.431 38.8334 170.517 38.8871 170.603 38.9943L171.021 39.6701C170.614 40.1207 170.093 40.4854 169.46 40.7643C168.838 41.0325 168.189 41.1666 167.513 41.1666Z" fill="white"/>
                      <path d="M157.665 33.1693C156.142 33.2229 154.828 33.3463 153.723 33.5394C152.629 33.7217 151.723 33.9738 151.004 34.2956C150.296 34.6175 149.77 35.0036 149.427 35.4542C149.084 35.894 148.912 36.3982 148.912 36.9667C148.912 37.5031 148.998 37.9697 149.169 38.3666C149.352 38.7528 149.588 39.0746 149.877 39.3321C150.178 39.5788 150.521 39.7612 150.907 39.8792C151.293 39.9972 151.696 40.0562 152.114 40.0562C152.736 40.0562 153.305 39.9918 153.82 39.8631C154.345 39.7236 154.828 39.5359 155.268 39.2999C155.718 39.0532 156.137 38.7635 156.523 38.431C156.909 38.0985 157.29 37.7391 157.665 37.3529V33.1693ZM148.252 27.1674C149.089 26.3306 149.969 25.6977 150.891 25.2686C151.814 24.8395 152.86 24.625 154.029 24.625C154.887 24.625 155.638 24.7645 156.282 25.0434C156.925 25.3115 157.456 25.7031 157.875 26.218C158.304 26.7222 158.626 27.339 158.84 28.0685C159.055 28.7872 159.162 29.5917 159.162 30.4821V40.909H158.55C158.229 40.909 158.03 40.7588 157.955 40.4585L157.73 38.3988C157.29 38.8279 156.85 39.2141 156.41 39.5574C155.981 39.9006 155.531 40.1903 155.059 40.4263C154.587 40.6623 154.077 40.8446 153.53 40.9734C152.983 41.1021 152.382 41.1665 151.728 41.1665C151.181 41.1665 150.65 41.086 150.135 40.9251C149.62 40.7642 149.159 40.5175 148.751 40.1849C148.354 39.8524 148.032 39.4286 147.786 38.9137C147.55 38.3881 147.432 37.7605 147.432 37.0311C147.432 36.3553 147.625 35.7277 148.011 35.1485C148.397 34.5692 149.003 34.065 149.829 33.6359C150.655 33.2068 151.712 32.8635 152.999 32.6061C154.297 32.3486 155.853 32.1985 157.665 32.1555V30.4821C157.665 29.0017 157.344 27.8646 156.7 27.0708C156.067 26.2663 155.123 25.864 153.868 25.864C153.096 25.864 152.436 25.9713 151.889 26.1858C151.352 26.4004 150.897 26.6364 150.521 26.8938C150.146 27.1513 149.84 27.3873 149.604 27.6018C149.368 27.8164 149.169 27.9236 149.009 27.9236C148.891 27.9236 148.794 27.8968 148.719 27.8432C148.644 27.7895 148.579 27.7198 148.526 27.634L148.252 27.1674Z" fill="white"/>
                      <path d="M133.456 37.4173C133.767 37.8785 134.089 38.2701 134.422 38.5919C134.765 38.903 135.124 39.1605 135.5 39.3643C135.875 39.5574 136.272 39.6968 136.691 39.7826C137.12 39.8685 137.57 39.9114 138.042 39.9114C138.986 39.9114 139.812 39.7397 140.52 39.3965C141.228 39.0532 141.818 38.5705 142.29 37.9483C142.773 37.3154 143.132 36.5645 143.368 35.6955C143.615 34.8159 143.738 33.8505 143.738 32.7992C143.738 30.4177 143.299 28.6692 142.419 27.5535C141.539 26.4272 140.279 25.864 138.638 25.864C137.576 25.864 136.616 26.1375 135.757 26.6846C134.899 27.2317 134.132 27.9934 133.456 28.9695V37.4173ZM133.392 27.7788C134.1 26.8134 134.926 26.0464 135.87 25.4778C136.825 24.9093 137.892 24.625 139.072 24.625C141.035 24.625 142.564 25.3062 143.658 26.6685C144.763 28.0309 145.315 30.0745 145.315 32.7992C145.315 33.9685 145.16 35.0626 144.849 36.0817C144.548 37.0901 144.098 37.9697 143.497 38.7206C142.907 39.4608 142.178 40.0455 141.309 40.4745C140.451 40.9036 139.458 41.1182 138.332 41.1182C137.248 41.1182 136.31 40.9197 135.516 40.5228C134.722 40.1259 134.036 39.5413 133.456 38.7689V46.573H131.912V24.8985H132.764C133.033 24.8985 133.188 25.0326 133.231 25.3008L133.392 27.7788Z" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1816 35.7509C11.1822 38.6694 11.1924 40.2035 11.3636 41.5038C12.6203 51.0496 20.1319 58.5612 29.6777 59.8179C31.06 59.9999 32.7066 59.9999 35.9998 59.9999H38.1816C41.4748 59.9999 43.1213 59.9999 44.5037 59.8179C54.0495 58.5612 61.5611 51.0496 62.8178 41.5038C62.9998 40.1214 62.9998 38.4749 62.9998 35.1817C62.9998 31.8885 62.9998 30.242 62.8178 28.8596C61.5611 19.3138 54.0495 11.8022 44.5037 10.5455C43.1213 10.3635 41.4748 10.3635 38.1816 10.3635H36.4699C36.818 12.0299 36.818 14.1602 36.818 17.9998V17.9999V17.9999C36.818 18.3799 36.818 18.7431 36.8176 19.0908H38.1816C41.7522 19.0908 42.6923 19.1096 43.3646 19.1981C48.9941 19.9393 53.424 24.3692 54.1652 29.9987C54.2537 30.671 54.2725 31.6111 54.2725 35.1817C54.2725 38.7523 54.2537 39.6924 54.1652 40.3647C53.424 45.9942 48.9941 50.4241 43.3646 51.1653C42.6923 51.2538 41.7522 51.2726 38.1816 51.2726H35.9998C32.4292 51.2726 31.4891 51.2538 30.8168 51.1653C25.1873 50.4241 20.7573 45.9942 20.0162 40.3647C19.9349 39.7469 19.9124 38.903 19.9093 35.9996C19.5615 35.9999 19.1981 35.9999 18.818 35.9999H18.2725C14.8387 35.9999 12.772 35.9999 11.1816 35.7509Z" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.766 9.76714C0.272949 11.5316 0.272949 13.6877 0.272949 18C0.272949 22.3123 0.272949 24.4684 0.766 26.2329C2.02348 30.7329 5.54 34.2495 10.0401 35.507C10.3995 35.6074 10.7751 35.6873 11.1819 35.751C11.1818 35.5669 11.1818 35.3773 11.1818 35.1818C11.1818 31.8887 11.1818 30.2421 11.3638 28.8597C12.6205 19.3139 20.1321 11.8024 29.6779 10.5456C31.0603 10.3636 32.7068 10.3636 36 10.3636H36.4703C36.4275 10.1586 36.3794 9.96049 36.3254 9.76714C35.0679 5.26705 31.5514 1.75053 27.0513 0.49305C25.2868 0 23.1307 0 18.8184 0H18.2729C13.9607 0 11.8045 0 10.0401 0.49305C5.54 1.75053 2.02348 5.26705 0.766 9.76714ZM36.8181 19.0909H36C32.4294 19.0909 31.4893 19.1097 30.817 19.1982C25.1875 19.9394 20.7576 24.3693 20.0164 29.9989C19.9279 30.6711 19.9091 31.6113 19.9091 35.1818C19.9091 35.4713 19.9092 35.7435 19.9095 35.9997C23.5077 35.9962 25.4423 35.9566 27.0513 35.507C31.5514 34.2495 35.0679 30.7329 36.3254 26.2329C36.775 24.6239 36.8146 22.6892 36.8181 19.0909Z" fill="white"/>
                    </svg>
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="footer-block--newsletter">
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            {%- if section.settings.newsletter_heading != blank -%}
              <h3 class=" text-white">{{ section.settings.newsletter_heading | escape }}</h3>
            {%- endif -%}
            {%- form 'customer',
              id: 'ContactFooter',
              class: 'footer__newsletter newsletter-form'
            -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button
                    type="submit"
                    class="newsletter-form__button field__button"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message"
                  id="ContactFooter-success"
                  tabindex="-1"
                  autofocus
                >
                  {% render 'icon-success' -%}
                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        {%- endif -%}

        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector
          and localization.available_countries.size > 1
        -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">
                  {{ 'localization.country_label' | t }}
                </h2>
                <select
                  class="localization-selector link"
                  name="country_code"
                  aria-labelledby="FooterCountryLabelNoScript"
                >
                  {%- for country in localization.available_countries -%}
                    <option
                      value="{{ country.iso_code }}"
                      {%- if country.iso_code == localization.country.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ country.name }} ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">
                {{ 'localization.update_country' | t }}
              </button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">
                  {{ 'localization.country_label' | t }}
                </h2>
                <div class="disclosure">
                  <button
                    type="button"
                    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
                    aria-expanded="false"
                    aria-controls="FooterCountryList"
                    aria-describedby="FooterCountryLabel"
                  >
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }}
                    {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                      {%- for country in localization.available_countries -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a
                            class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset"
                            href="#"
                            {% if country.iso_code == localization.country.iso_code %}
                              aria-current="true"
                            {% endif %}
                            data-value="{{ country.iso_code }}"
                          >
                            {{ country.name }}
                            <span class="localization-form__currency"
                              >({{ country.currency.iso_code }}
                              {{ country.currency.symbol }})</span
                            >
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input
                  type="hidden"
                  name="country_code"
                  value="{{ localization.country.iso_code }}"
                >
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector
          and localization.available_languages.size > 1
        -%}
          <noscript>
            {%- form 'localization',
              id: 'FooterLanguageFormNoScript',
              class: 'localization-form'
            -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                  {{ 'localization.language_label' | t }}
                </h2>
                <select
                  class="localization-selector link"
                  name="locale_code"
                  aria-labelledby="FooterLanguageLabelNoScript"
                >
                  {%- for language in localization.available_languages -%}
                    <option
                      value="{{ language.iso_code }}"
                      lang="{{ language.iso_code }}"
                      {%- if language.iso_code == localization.language.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">
                {{ 'localization.update_language' | t }}
              </button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                <div class="disclosure">
                  <button
                    type="button"
                    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
                    aria-expanded="false"
                    aria-controls="FooterLanguageList"
                    aria-describedby="FooterLanguageLabel"
                  >
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                      {%- for language in localization.available_languages -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a
                            class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset"
                            href="#"
                            hreflang="{{ language.iso_code }}"
                            lang="{{ language.iso_code }}"
                            {% if language.iso_code == localization.language.iso_code %}
                              aria-current="true"
                            {% endif %}
                            data-value="{{ language.iso_code }}"
                          >
                            {{ language.endonym_name | capitalize }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input
                  type="hidden"
                  name="locale_code"
                  value="{{ localization.language.iso_code }}"
                >
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="footer__copyright caption">
          <small class="copyright__content text-white"
            >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach((item) =>
        item.addEventListener('click', this.onItemClick.bind(this)),
      );
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute(
        'aria-expanded',
        (this.elements.button.getAttribute('aria-expanded') === 'false').toString(),
      );
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to Plus Patches",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
